body{
    font-family: Arial, Helvetica;
    font-size: 15px;
    line-height: 1.5;
    padding: 0px;
    background-color: #f4f4f4;
}
#loginDiv{
    text-align: center;
    height: 200px;;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    margin-top: -100px;
}
#registerDiv{
    text-align: center;
    height: 200px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    margin-top: -100px;
}
#creditDiv{
    position: fixed;
    height: 20%;
    width: 100%;
    background-color:#26a69a;
    color: #f4f4f4;
    text-align: center;
    min-height: 100px;
}
#printDiv{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 20px;

}
#printButton{
    width: 90%;
}
#addCreditsDiv{
    text-align: center;
    height: 200px;;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    margin-top: -100px;
}
